[submodule "fingerguns-client"]
	path = fingerguns-client
	url = https://github.com/erik-jenkins/fingerguns-client.git
[submodule "FingergunsApi"]
	path = FingergunsApi
	url = https://github.com/erik-jenkins/FingergunsApi.git
